.boton{
    background-color: cornflowerblue;
    margin-left:100;
    
}

.login{
    background-color: aliceblue;
    color: cornflowerblue
}

.pagina{
    margin-top: 50px;
   
    
}

.anchocard{
    max-width: 20rem;
    text-align: center;
}

.mensaje{
    color: cornflowerblue;
    text-align: center;
}

input{
    color:blue;
}