<!--- Verifico que el usuario sea el ADMIN-->

<body *ngIf="usuario.user=='ADMIN'">
    <div class="col-md-12">
    </div>

    <form [formGroup]="eliminarFormGroup" class="example-form pagina" (ngSubmit)="submit()">
        <!---- Cargo el formulario con sus inputs y validaciones-->
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Curso</mat-label>
                <input matInput type="text" formControlName="curso">
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <div *ngIf="this.eliminarFormGroup.get('curso')?.errors?.['required'] && !eliminarFormGroup.get('curso')?.pristine"
                class="alert alert-danger">Debe ingresar el título del curso</div>
            <div *ngIf="this.eliminarFormGroup.get('curso')?.errors?.['maxlength'] && !eliminarFormGroup.get('curso')?.pristine"
                class="alert alert-danger">El título no puede exceder los 50 caracteres</div>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Duración</mat-label>
                <input matInput type="text" formControlName="duracion">
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <div *ngIf="this.eliminarFormGroup.get('duracion')?.errors?.['duracion'] && !eliminarFormGroup.get('duracion')?.pristine"
                class="alert alert-danger">Debe ingresar la duración estimada</div>
            <div *ngIf="this.eliminarFormGroup.get('duracion')?.errors?.['maxlength'] && !eliminarFormGroup.get('duracion')?.pristine"
                class="alert alert-danger">la duración puede exceder los 50 caracteres</div>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="precio">
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
        </div>
        <div *ngIf="this.eliminarFormGroup.get('precio')?.errors?.['required'] && !eliminarFormGroup.get('precio')?.pristine"
            class="alert alert-danger">Debe ingresar el precio del curso</div>
        <div>
            <button type="submit" mat-raised-button color="warn" class="boton">Eliminar</button>
        </div>

    </form>
</body>