body{
    min-height: 100vh;
    background: url(../../../img/fondo.jpg) no-repeat center center scroll;
    background-size: cover; 
}
h2{
    margin: auto;
    text-align: center;
    color: white;
}

p{
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 2rem;

}

