<!--- Verifico que el usuario sea el ADMIN-->
<body *ngIf="usuario.user=='ADMIN'">

    <div class="col-md-12">
    </div>

    <form [formGroup]="modificarFormGroup" class="example-form pagina" (ngSubmit)="submit()">
        <!---- Cargo el formulario con sus inputs y validaciones-->
        <div class="form">
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" formControlName="usuario">
                    <mat-hint align="end"></mat-hint>
                </mat-form-field>
                <div *ngIf="this.modificarFormGroup.get('usuario')?.errors?.['required'] && !modificarFormGroup.get('usuario')?.pristine"
                    class="alert alert-danger">Debe ingresar el apellido de la persona</div>
                <div *ngIf="this.modificarFormGroup.get('usuario')?.errors?.['maxlength'] && !modificarFormGroup.get('usuario')?.pristine"
                    class="alert alert-danger">El nombre puede exceder los 100 caracteres</div>
            </div>
            
            
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" formControlName="apellido">
                    <mat-hint align="end"></mat-hint>
                </mat-form-field>
                <div *ngIf="this.modificarFormGroup.get('apellido')?.errors?.['required'] && !modificarFormGroup.get('apellido')?.pristine"
                    class="alert alert-danger">Debe ingresar el apellido de la persona</div>
                <div *ngIf="this.modificarFormGroup.get('apellido')?.errors?.['maxlength'] && !modificarFormGroup.get('apellido')?.pristine"
                    class="alert alert-danger">El nombre puede exceder los 100 caracteres</div>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="nombre">
                    <mat-hint align="end"></mat-hint>
                </mat-form-field>
                <div *ngIf="this.modificarFormGroup.get('nombre')?.errors?.['required'] && !modificarFormGroup.get('nombre')?.pristine"
                    class="alert alert-danger">Debe ingresar el nombre de la persona</div>
                <div *ngIf="this.modificarFormGroup.get('nombre')?.errors?.['maxlength'] && !modificarFormGroup.get('nombre')?.pristine"
                    class="alert alert-danger">El nombre puede exceder los 100 caracteres</div>
            </div>

        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput type="text" formControlName="edad">
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <div *ngIf="this.modificarFormGroup.get('edad')?.errors?.['required'] && !modificarFormGroup.get('edad')?.pristine"
                class="alert alert-danger">Debe ingresar la edad</div>
            <div *ngIf="this.modificarFormGroup.get('edad')?.errors?.['max'] && !modificarFormGroup.get('edad')?.pristine"
                class="alert alert-danger">La edad no puede exceder los 99 años</div>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-hint align="end">DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="this.modificarFormGroup.get('fechaNacimiento')?.errors?.['required'] && !modificarFormGroup.get('fechaNacimiento')?.pristine"
                class="alert alert-danger">Debe ingresar la fecha de nacimiento</div>
        </div>
        
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Mail</mat-label>
                <input matInput type="text" formControlName="mail">
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <div *ngIf="this.modificarFormGroup.get('mail')?.errors?.['required'] && !modificarFormGroup.get('mail')?.pristine"
                class="alert alert-danger">Debe ingresar el nombre de la persona)</div>
            <div *ngIf="this.modificarFormGroup.get('mail')?.errors?.['email'] && !modificarFormGroup.get('mail')?.pristine"
                class="alert alert-danger">El mail tiene un formato invalido</div>
        </div>

        <div>
            <button type="submit" mat-raised-button color="primary" class="boton">Modificar</button>
        </div>

    </form>
</body>